.cur-button {
    -fx-background-color: #dee2e6;
    -fx-text-fill: gray;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 10px 10px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #fff;
    /*-fx-border-width: 5px;*/
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 2);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.cur-button:hover {
    -fx-background-color: #086375;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 8, 0, 0, 3);
    -fx-text-fill: #fff;
}